<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Modern Data Management.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Analytics</h4>
                    <p class="text-muted">Data Visualization, Dashboard Development and Integration. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Strategy</h4>
                    <p class="text-muted">Need to scale your data infrastucture. Our Consultants work directly with your team to design data management services perfect for your needs</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">



                        <img class="icon-image" src="my-logos/ai-square.jpg" width="100" height="100" color="w">
                    </span>
                    <h4 class="service-heading">Machine Learning</h4>
                    <p class="text-muted">Leveraging cutting-egde technologies in predictive analytics and artificial intellgence, providing the competitve edge you need to thrive </p>
                </div>
            </div>
        </div>
    </section>
